<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noel.videolist">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.list.NestedListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noel.videolist.activity.main.MainActivity" />
        </activity>
        <activity android:name=".activity.topic.TopicListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noel.videolist.activity.main.MainActivity" />
        </activity>
        <activity android:name=".activity.content.ContentListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.topic.TopicListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noel.videolist.activity.topic.TopicListActivity" />
        </activity>
        <activity android:name=".activity.comics.ComicsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.content.ContentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.content.ContentListActivity" />
        </activity>
        <activity android:name=".activity.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.content.ContentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.content.ContentListActivity" />
        </activity>
        <activity android:name=".activity.interview.practice.InterviewPracticeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.content.ContentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.content.ContentListActivity" />
        </activity>
        <provider
            android:authorities="com.example.noel.videolist"
            android:exported="false"
            android:name=".data.VideoListContentProvider" />
    </application>

</manifest>